* {
    margin:0;
}

.container {
    display: flex;
}

header {
    color:#fff;
    background-color: black;
    padding: 2em;
    position: sticky;
    top:0;
}

nav.hauptnavi {
    padding:2em;
    background-color: aqua;

}

nav.linke_spalte {
    width: 20%;
    background-color: blueviolet;
    float:left;
    padding: 2em;
}

main {
    width: 60%;
    background-color: darkgoldenrod;
    padding: 2em;
}

aside {
    padding: 2em;    
    background-color:chocolate;
}

footer {
    background-color: darkolivegreen;
    text-align: right;
    padding: 0.2em;
}